---
// index.astro
import Layout from '../layouts/Layout.astro';
// On n'a plus besoin d'importer Header ici car il est DANS le Hero
import Hero from '../components/Hero.astro';

// Logique PocketBase
import PocketBase from 'pocketbase';
// Changement ici : on pointe vers le VPS en ligne
const pb = new PocketBase('https://echosonore.hillairet.optimiseus.fr');

let artistes: any[] = [];
try {
    artistes = await pb.collection('artistes').getFullList({ sort: '-created' });
} catch (error) {
    console.error("Erreur de connexion à PocketBase :", error);
}
---

<Layout title="Echos Sonore | Festival Reggae à Belfort">
    <main>
        <Hero />
    </main> </Layout>