---
---
<header class="absolute top-0 left-0 w-full z-50 px-6 py-6 flex items-center justify-between">
    <a href="/" class="relative z-50">
        <img src="/assets/icons/logo.avif" alt="Logo" class="h-16 md:h-24 w-auto" />
    </a>

    <button class="relative z-50 text-black hover:text-[#FDBF00] focus:outline-none transition-colors duration-300 cursor-pointer">
        <svg class="w-10 h-10 md:w-12 md:h-12" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 9h16M4 15h16"></path>
        </svg>
    </button>
</header>